body {
  background-color: black;
  max-width: 80%;
  margin: 0 auto !important;
  float: none !important;
}

.wd-explore-border {
  border: 1px solid;
  border-color: rgb(47, 51, 54);
}

.wd-border-rounded {
  border: 1px solid;
  border-color: rgb(47, 51, 54);
  border-radius: 15px;
}

.wd-border-spacing {
  font-size: 20px;
  color: white;
  margin: 12px 0px 5px 16px;
}

#wd-handle-style {
  font-size: 13px;
  color: lightgray;
  margin: 0px 12px 12px 16px;
}

.wd-bookmark-icons-style {
  padding-top: 12px;
  color: lightgray;
}

.wd-bookmark-img-post-style {
  width: 504px;
  height: 264px;
  border: 1px solid rgb(47, 51, 54);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.wd-img-post-txt-style {
    padding: 12px;
    margin: 0;
}

.wd-icon-position {
  padding-left: 12px;
  color: lightgray;
}

.wd-bookmark-icons-style-red {
  padding-top: 12px;
  color: red;
}

.wd-icon-position-red {
  padding-left: 12px;
  color: red;
}

.wd-distribute-icons {
  padding-right: 70px;
  text-decoration: none;
}

.wd-bookmark-post {
  padding-left: 76px;
  color: white;
  font-size: 15px;
  max-width: 506px;
}

.wd-explore-settings {
  float: right;
  padding-top: 25px;
  padding-right: 12px;
}

.wd-post-avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  float: left;
}

.wd-fg-color-gray {
  color: rgb(110, 118, 125);
}

.wd-fg-color-blue {
  color: rgb(29, 161, 242);
}

.wd-margin-bottom-12 {
  margin-bottom: 12px;
}

.wd-margin-top-12 {
  margin-top: 12px;
}

.wd-padding-right-bottom-left-12 {
    padding: 0 12px 12px 12px;
    margin: 0;
}

.wd-margin-top-0 {
    margin-top: 0;
}

.wd-make-inline-block {
    display: inline-block;
    margin-top: 12px;
    padding-bottom: 2px;
}

.wd-txt-bold {
    font-weight: bold;
}
